*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #242424;
    font-family: "Poppins", sans-serif;
}

.game-container{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: rebeccapurple;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}

.game-board{
    display: grid;
    overflow: hidden;
    background: #0c192c;
    border: 3px solid rgba(255,255,255,0.5);
}

.cell{
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    box-sizing: border-box;  
}

.snake{
    background: linear-gradient(135deg,red,blue);
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.food{
    position: relative;
    top: 5px;
    left: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #00ffea;
    animation: food 1.5s linear infinite;
}

@keyframes  food{

    0%{
        transform: scale(1);
    }
    
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
   
    
}

.game-over{
    background: rgba(255, 255, 255, 0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    padding-bottom: 0;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.5);

}

.game-over h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.game-over p{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.game-over button{
    background: rgba(255, 255, 255, 0.20);
    border: none;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}